<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container" >
            <div class="header" th:fragment="navbar" ng-module="org.flowninja.admin.console.navigation">
                <nav class="navbar navbar-default" role="navigation" ng-controller="MenuController">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" ng-click="isNavigationCollapsed = !isNavigationCollapsed">
                                <span class="sr-only" th:text="#{navbor.toggle}">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand">FlowNinja administration console</a>
                        </div>
                        <div class="collapse navbar-collapse" collapse="isNavigationCollapsed">
                            <ul class="nav navbar-nav">
                                <li class="dropdown" dropdown="dropdown">
                                	<a href="" class="dropdown-toggle" dropdown-toggle="dropdown-toggle">
                                		<span th:text="#{navbar.profile}">Profile</span>
                                		<span class="caret"></span>
                                	</a>
                                	<ul class="dropdown-menu" role="menu">
                                		<li><a th:href="@{/profile/change-password}" th:text="#{navbar.profile.password}">Change password</a></li>
                                	</ul>
                                </li>
                                <li class="dropdown" dropdown="dropdown" sec:authorize="hasAuthority('endpoint-admin')">
                                	<a href="" class="dropdown-toggle" dropdown-toggle="dropdown-toggle">
                                		<span th:text="#{navbar.accounting-groups}">Accounting groups</span>
                                		<span class="caret"></span>
                                	</a>
                                	<ul class="dropdown-menu" role="menu">
                                		<li><a href="#" th:href="@{/accounting-groups/manage}" th:text="#{navbar.accounting-groups.manage}">Manage accounting groups</a></li>
                                		<li><a href="#" th:href="@{/endpoints/manage}" th:text="#{navbar.endpoints.manage}">Manage endpoints</a></li>
                                	</ul>
                                </li>
                                <li class="dropdown" dropdown="dropdown" sec:authorize="hasAuthority('user-admin')">
                                	<a href="" class="dropdown-toggle" dropdown-toggle="dropdown-toggle">
                                		<span th:text="#{navbar.users}">Users</span>
                                		<span class="caret"></span>
                                	</a>
                                	<ul class="dropdown-menu" role="menu">
                                		<li><a href="#" th:href="@{/users/manage}" th:text="#{navbar.users.manage}">Manage users</a></li>
                                	</ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <p class="navbar-text" th:text="#{navbar.user(${#authentication.principal.username})}">Signed in as </p>
                                </li>
                                <li>
                                    <a href="#" th:href="@{/logout}" th:text="#{navbar.logout}" class="btn btn-default">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    </body>
</html>