<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/preamble::header(title=#{page.title},stylesheet='auth/login.css')"/>
	
	<body>
        <div class="container">
			<form class="form-signin" action="/login" th:action="@{/login}" method="post">
	        	<h2 class="form-signin-heading" th:text="#{form.signin}">Please sign in</h2>
	        	<label for="email" class="sr-only" th:text="#{form.mail}">Email address</label>
	        	<input type="email" id="email" name="email" class="form-control" placeholder="Email address" th:placeholder="#{form.mail}" required="required" autofocus="autofocus"/>
	        	<label for="password" class="sr-only" th:text="#{form.password}">Password</label>
	        	<input type="password" id="password" name="password" class="form-control" placeholder="Password" th:placeholder="#{form.password}" required="required"/>
		        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{form.submit}">Sign in</button>
		 	</form>
        </div>
	</body>
	
</html>