<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/preamble::header(title=#{page.title})"/>
	
	<body>
        <div class="container">
        	<div th:replace="fragments/navbar::navbar" />
        	
            <div class="jumbotron">
                <h1 th:text="#{jumbotron.heading}">Welcome to WebAPI Console</h1>
                <p class="lead" th:text="#{jumbotron.lead}">Console access to control and configure WebAPI applications</p>
                <p><a class="btn btn-lg btn-success" href="/register" th:href="@{/register}" role="button" th:text="#{link.login}">Sign up today</a></p>
            </div>

            <div class="row">

            </div>
        </div>
	</body>
	
</html>