<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/preamble::header(title=#{page.title})"/>
	
	<body>
        <div class="container">
        	<div th:replace="fragments/navbar::navbar" />

            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form role="form" action="/login" th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label for="email" th:text="#{form.mail}">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>
                        </div>
                        <div class="form-group">
                            <label for="password" th:text="#{form.password}">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                        </div>
                        <button type="submit" class="btn btn-default" th:text="#{form.submit}">Login</button>
                    </form>
                </div>
         	</div>
            <div class="row">         	
                <div class="col-md-offset-3 col-md-6">
                	<span th:text="#{text.recover}">You cannot login?</span>
                	<span> </span>
                	<a href="/recover" th:text="#{link.recover}" th:href="@{/password-recovery}">Click here to recover your password</a>
				</div>                
            </div>
        </div>
	</body>
	
</html>