<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <context:component-scan base-package="org.flowninja.webapp.oauth.mongodb"/>
    <context:component-scan base-package="org.flowninja.persistence.mongodb"/>
    
	
    <!-- Instructs Spring to perfrom declarative transaction management on annotated classes -->
    <tx:annotation-driven />
    
    <!-- MongoDB access configuration -->
    <mongo:auditing modify-on-creation="true" set-dates="true"/>
    
    <!--
        The MongoClient is created from a JavaConfig which is sensitive to system property values
        - if the property 'mongodb.replicas' (comma-seperated list of colon-seperated host /port pairs) is given, then a 
          replication-aware client is being created. The property 'mongodb.setname' (if given) defines the replica set name
        - a client for a single-host configuration is build with the hostname taken from 'mongodb.host' (defaults to "localhost") 
          and 'mongodb.port' (defaults to 27017)
        The properties 'mongodb.user' and 'mongodb.password' (if given) define the credentials to be used when connectinf to the database
    -->
    
    <mongo:mapping-converter id="mongoMappingConverter" />
    
    <!--
        The MongoDbFactory instance 'mongoDbFactory' is created with taking the property 'mongodb.name' (defaults to 'db') into account. This property
        denotes the db name to which the connection is made
    -->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
    	<constructor-arg ref="mongoDbFactory"/>
	</bean>
	
    <mongo:repositories base-package="org.flowninja.persistence.mongodb" mongo-template-ref="mongoTemplate"/>
	
</beans>
