<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <context:property-placeholder location="classpath:org/flowninja/webapp/admin/mongodb/mongodb.properties" system-properties-mode="OVERRIDE"/>
    <context:component-scan base-package="org.flowninja.webapp.admin.mongodb"/>
    <context:component-scan base-package="org.flowninja.persistence.mongodb"/>
    
	
    <!-- Instructs Spring to perfrom declarative transaction management on annotated classes -->
    <tx:annotation-driven />
    
    <!-- MongoDB access configuration -->
    <mongo:auditing modify-on-creation="true" set-dates="true"/>
    
    <mongo:mongo replica-set="${mongodb.replicas}" id="mongo"/>
    <mongo:db-factory id="mongoDbFactory" dbname="${mongodb.name}" mongo-ref="mongo"/>
    <mongo:mapping-converter id="mongoMappingConverter" />
    
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
    	<constructor-arg ref="mongoDbFactory"/>
	</bean>
	
    <mongo:repositories base-package="org.flowninja.persistence.mongodb" mongo-template-ref="mongoTemplate"/>
	
</beans>
