<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/preamble::header(title=#{page.title},pageScript='pages/index.js')"/>
	
	<body>
		<script th:inline="javascript" type="text/javascript">
		    /*<![CDATA[*/
		   	angular.module('org.flowninja.rpsl.lookup').config(function(RestangularProvider,$httpProvider,LookupServiceProvider) {
			   	LookupServiceProvider.setRestUri([[@{/rest/ip/address}]]);
			   	LookupServiceProvider.setStatus200([[#{rest.status200}]]);
			   	LookupServiceProvider.setStatus400([[#{rest.status400}]]);
			   	LookupServiceProvider.setStatus404([[#{rest.status404}]]);
			   	LookupServiceProvider.setStatusAny([[#{rest.statusAny}]]);			   	
		    });
		   	/*]]>*/
		</script>
        <div class="container-fluid">
	      <div class="page-header">
    	    <h1 th:text="#{page.headline}">Resolve IP Address</h1>
    	    <p class="lead" th:text="#{page.description}">Resolve an IP address to network information</p>
    	  </div>
	      <div class="row" ng-module="org.flowninja.rpsl.lookup">
        	<div class="col-md-8 col-md-offset-2">
        		<form ng-controller="LookupController" name="addrForm" class="form-horizontal">
					<div class="form-group has-feedback" ng-class="getFormGroupCssClasses(addrForm.ipaddr)">
    					<label class="col-sm-4 control-label" for="ipaddr" th:text="#{form.field.ipaddr}">IP address:</label>
    					<div class="col-sm-6">
	    					<input class="form-control" id="ipaddr" name="ipaddr" placeholder="IPv4 address" 
	    						required="required"
	    						ng-model="ipAddress" 
	    						ng-change="clearNetworkInfo()"
	    						ng-pattern="/^((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.){3}((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))$/"/>
							<span class="glyphicon form-control-feedback" 
								ng-show="getFormFeedbackVisible(addrForm.ipaddr)"
								ng-class="getFormFeedbackCssClasses(addrForm.ipaddr)" 
								aria-hidden="true"></span>
						</div>
						<div class="col-sm-2">
	  					<button class="btn btn-default" ng-disabled="!canSave()" ng-click="resolveNetworkInfo()"
  							th:text="#{form.action.resolve}">Resolve network information</button>
						</div>
  					</div>
					<div class="form-group">
    					<label class="col-sm-4 control-label" for="status" th:text="#{form.field.status}">CIDR:</label>
    					<div class="col-sm-8">
	      					<p class="form-control-static" id="status">{{networkInfo.status}}</p>
	      				</div>
    				</div>
					<div class="form-group">
    					<label class="col-sm-4 control-label" for="cidr" th:text="#{form.field.cidr}">CIDR:</label>
    					<div class="col-sm-8">
	      					<p class="form-control-static" id="cidr">{{networkInfo.cidr}}</p>
	      				</div>
    				</div>
					<div class="form-group">
    					<label class="col-sm-4 control-label" for="netname" th:text="#{form.field.netname}">Network name:</label>
    					<div class="col-sm-8">
	      					<p class="form-control-static" id="netname">{{networkInfo.networkName}}</p>
	      				</div>
  					</div>
					<div class="form-group">
    					<label class="col-sm-4 control-label" for="country" th:text="#{form.field.country}">Country:</label>
    					<div class="col-sm-8">
	      					<p class="form-control-static" id="country">{{networkInfo.country}}</p>
	      				</div>
  					</div>
					<div class="form-group">
    					<label class="col-sm-4 control-label" for="registry" th:text="#{form.field.registry}">Registry:</label>
    					<div class="col-sm-8">
	      					<p class="form-control-static" id="registry">{{networkInfo.rir}}</p>
	      				</div>
  					</div>
					<div class="form-group">
    					<label class="col-sm-4 control-label" for="source" th:text="#{form.field.source}">Source:</label>
    					<div class="col-sm-8">
	      					<p class="form-control-static" id="source">{{networkInfo.source}}</p>
	      				</div>
  					</div>
           		</form>
        	</div>
      	  </div>
   		</div>
	</body>
	
</html>